
.header-btn2{
    font-weight: bold;
}

.separator {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* border-top: 1px dashed #ccc; */ /* 점선 구분선 */
    /* border-top: 1px dotted #ccc; */ /* 점선 구분선 */
    margin: 20px 0 0 10px; /* 구분선 위아래 여백 설정 */
}

/*중간 body 부분*/
.regions{
    position: relative;
}

.regions-button-wrap{
    position: absolute;
    z-index: 1;
    margin-top: 20px;
}

.regions-button-wrap span{
    margin-left: 100px;
    font-weight: bold;
    cursor: pointer;
}

.region-image img {
    width: 100%;
    height: 350px;
    opacity: 0.8;
}

.button-wrap {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 1440px;
}

.button-wrap a, .button-wrap button{
    margin-top: 35px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    cursor:pointer;
}

.sort-recent-button, .sort-popular-button, .sort-view-button, .sort-comment-button{
    background-color: #ECECEC;
    width: 100px;
}

#create-btn{
    background-color: #2AD931;
    border: 0;
    width: 150px;
    justify-self: end;
    color: #ffffff;
    font-size: 16px;
}

.tourist-sites{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열을 가짐 */
    gap: 20px; /* 관광지 사이의 간격 설정 */
    row-gap: 100px;
}

.tourist-site{
    /* 각 관광지 요소의 스타일 */
    display: flex;
    flex-direction: column;
    text-align: center; /* 내용을 중앙으로 정렬 */
    box-shadow: 0px 0px 5px 5px rgba(225, 225, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

.top-contents {
    display: grid;
    grid-template-columns: 70px 160px 1px 160px;
    align-items: center;
    margin: 10px 0px;
}

.top-writer-profileimg{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #cccccc;
    margin-left: 20px;
}

.top-writer-info{
    margin-left: 20px;
    text-align: left;
    font-weight: bold;
}

.top-writer-info p {
    margin: 0px;
}

.top-writer-info-details{
    display: flex;
    margin-top: 2px;
    align-items: center;
}

.userBirth{
    display: none;
}

.top-writer-info-details p {
    color: #0085FF;
    margin-right: 2px;
}

.top-companion-schedule{
    margin-left: auto;
    flex-direction: column;
    text-align: left;
}

.top-companion-schedule p {
    margin: 0px;
    font-weight: bold;
}

.top-companion-schedule-details{
    display: flex;
    margin-top: 5px;
}

.top-companion-schedule-details p {
    color: #3ADC1F;
    font-weight: bold;
}


hr{
    height: 50px;
    border: 1px solid rgba(40, 40, 40, .5)
}


.middle-contents {
    position: relative;
    display: flex;
    flex-direction: column;
}

.companion-image-placeholder{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.companion-image-placeholder img:hover{
    transform: scale(1.2, 1.2); transition-duration: 0.5s;
}

#sample-image{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.companion-status{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0px;
    flex-direction: column;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(1px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease, visibility 0s 0.3s;
}

.companion-status-image, .companion-status-number{
    display: flex;
    margin: 0px 20px 0px auto;
}

.companion-status img{
    width: 30px;
    height: 30px;
    object-fit: scale-down;
    margin: 0px 5px;
}

.middle-contents:hover .companion-status {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: transform 0.1s ease, visibility 0s;
}

.companion-status-number p{
    font-weight: bold;
}

.companion-status-number-recruit{
    margin: 0px 23px 0px 10px;
}

.companion-status-number-reserve{
    margin: 0px 20px 0px 10px;
}

.companion-status-number-wish{
    margin: 0px 15px 0px 10px;
}

.bottom-contents {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px 0px 10px 10px;
}

.bottom-contents-title {
    font-weight: bold;
}

h3{
    cursor: pointer;
}
p{
    color: #000;
}
h3, p {
    margin: 5px 0; /* 요소들의 위아래 여백 설정 */
}

/*footer 부분*/

.separator-footer{
        border-top: 1px solid #ccc; /* 실선 구분선 */
        margin: 30px 0px 20px; /* 구분선 위아래 여백 설정 */
}

.footer {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬합니다. */
}
.footer-logo{
    margin-right: auto;
    margin-left: 30px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer span{
    color: #7E7E7E;
    font-weight: bold;
}

.footer-group {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 배치합니다. */
    margin-top:10px;
    margin-left: -1400px;
}

.github-link {
    margin-left: auto; /* 우측으로 정렬합니다. */
}
/*페이징 처리*/
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.pagination span{
    margin-bottom: 10px;
}
.pagination a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 10px 10px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.pagination a.active {
    background-color: #4CAF50; /* 예시로 녹색을 선택 */
    color: white; /* 텍스트 색상을 흰색으로 */
    border: 1px solid #4CAF50; /* 경계선도 동일한 색상으로 */
}
.pagination a:hover:not(.active) {
    background-color: #ddd; /* 호버 효과 */
}