/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
blockquote, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul {margin:0;padding:0}
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:400}
ul {list-style:none}
button, input, select {margin:0}
html {box-sizing:border-box}
*, :after, :before {box-sizing:inherit}
img, video {height:auto;max-width:100%}
iframe {border:0}
table {border-collapse:collapse;border-spacing:0}
td, th {padding:0}

body {
    font-size: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/*헤더*/

.nav_box {
    display: flex;
    align-items: center;
}

.nav_one ul {
    display: flex;
    font-size: 32px;
    font-weight: bold;
}

.nav_one a {
    color: #7E7E7E;
}

.nav_one a:hover {
    color: black;
}

.nav_two ul {
    display: flex;
    align-items: center;
}

li {
    margin-right: 26px;
}

.nav_two li {
    margin-left: auto;
}

/*메인*/

.logo {
    width: 170px;
    height: 173px;
}

.header_box {
    display: flex;
    align-items: center;
}

.login_box {
    width: 680px;
    padding: 78px 83px 97px 83px;
    border: #E0E0E0 solid 1px;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 150px auto;
}

.login_box h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    margin-left: 5px;
}

.login_box span {
    color: #4FDF80;
    font-weight: bold;
}

.login_box label,
.login_box select,
.login_box input,
.login_box button {
    display: block;
    width: calc(100% - 20px); /* 박스의 width는 calc(100% - 20px);로 조정해주세요 */
    margin-bottom: 10px;
}

form label {
    margin-top: 50px;
}

input, select {
    height: 90px;
    font-size: 25px;
    border-radius: 20px;
    border: 1px solid rgba(126, 126, 126, 0.4);
    background-color: rgba(217, 217, 217, 0.22);
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.25);
}

#register {
    margin: 110px 0 0 0;
    height: 140px;
    background-color: #2AD931;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 10px;
}

