/* 전체 적용 */
h1 {
    font-size: 48px; /* h1 텍스트 크기를 48px로 설정합니다. */
}

p {
    font-size: 24px; /* p 텍스트 크기를 24px로 설정합니다. */
}

.header-btn1{
    font-weight: bold;
}
.separator {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* border-top: 1px dashed #ccc; */ /* 점선 구분선 */
    /* border-top: 1px dotted #ccc; */ /* 점선 구분선 */
    margin: 20px 0; /* 구분선 위아래 여백 설정 */
}
/*구분 선*/

.separator2 {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* 구분선 위아래 여백 설정 */
    margin: 20px 0;
}


#section1, #section2, #section3 {
    margin-left: 50px;
    margin-right: 50px;
}
.spot-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.spot-details {
    flex: 2; /* 기존의 flex: 1에서 변경 */
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%; /* 최대 너비를 부모 요소에 맞춤 */
}
.reservation {
    flex: 1; /* 이 부분은 그대로 유지 */
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%; /* 최대 너비를 부모 요소에 맞춤 */
    width: 330px;
    height: 556px;
    border-radius: 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation button {
    font-size: 48px;
}

.spot-details p {
    width: 100%; /* 화면 전체 너비에 맞춤 */
    max-width: calc(100vw - 10px); /* padding과 border 고려한 너비 조정 */
}

.image-container {
    position: relative;
    margin-top: -20px;
}

.text-overlay {
    position: absolute;
    color: rgba(126, 126, 126, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 95px;
}
#area-image {
    width: 100%;
    height: 350px;
    opacity: 0.5;
}

.spot-image {
    width: 622px;
    height: 556px;
    border-radius: 20px;
}



/*section#section1 div {*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

#map {
    height: 500px;
    background-color: #ccc;
}
.map_wrap {position:relative;overflow:hidden;width:100%;height:500px;}
.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}


#section3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    box-sizing: border-box;
}

#recommend {
    display: flex;
    align-items: center;
    width: 100%;
}

#recommend img {
    margin-right: 20px;
    width: 60px;
    height: auto;
}

#aiResults {
    height: 600px;
    width: 100%;
    margin-top: 20px;
    padding-left: 20px; /* 왼쪽 패딩을 추가하여 텍스트에 간격을 줌 */
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f0f5fb;
}

#aiResults p {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
    word-wrap: break-word;
}
/*footer 부분*/

.footer {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬합니다. */
}
.footer-logo{
    margin-right: auto;
    margin-left: 30px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer span{
    color: #7E7E7E;
    font-weight: bold;
}

.footer-group {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 배치합니다. */
    margin-top:10px;
    margin-left: -1400px;
}

.github-link {
    margin-left: auto; /* 우측으로 정렬합니다. */
}

/* 로딩바 */
#loading {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
