/* 전체 적용 */
h1 {
    font-size: 48px; /* h1 텍스트 크기를 48px로 설정합니다. */
}

p {
    font-size: 24px; /* p 텍스트 크기를 24px로 설정합니다. */
}
body {
    width: 1920px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}
/* 전체 헤더 스타일링 */

/* 로고 이미지 스타일링 */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}
/* 각 요소들의 스타일 */
.logo, .header-buttons, .user-controls {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
.header logo{
    width:200px;
    height: 200px;
}
/*여기갈까? 같이갈까? 버튼 설정*/
.header-buttons span {
    margin-right: 50px; /* 버튼 사이의 간격 설정 */
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
}
.header-btn1{
    font-weight: bold;
}
/*마이페이지 버튼과 찜 버튼 설정*/
.user-controls img{
    margin-right: 30px;
    /*padding: 5px 10px;*/
    cursor: pointer;
}

/*구분 선*/
.separator1 {
    border-top: 1px solid #ccc; /* 실선 구분선 */
}
.separator2 {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* 구분선 위아래 여백 설정 */
    margin: 20px 0;
}


#section1, #section2, #section3 {
    margin-left: 50px;
    margin-right: 50px;
}
.spot-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.spot-details {
    flex: 2; /* 기존의 flex: 1에서 변경 */
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%; /* 최대 너비를 부모 요소에 맞춤 */
}
.reservation {
    flex: 1; /* 이 부분은 그대로 유지 */
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%; /* 최대 너비를 부모 요소에 맞춤 */
    width: 330px;
    height: 556px;
    border-radius: 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation button {
    font-size: 48px;
}

.spot-details p {
    width: 100%; /* 화면 전체 너비에 맞춤 */
    max-width: calc(100vw - 10px); /* padding과 border 고려한 너비 조정 */
}

.image-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    color: rgba(126, 126, 126, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 95px;
}
#area-image {
    width: 100%;
    height: 350px;
    opacity: 0.5;
}

.spot-image {
    width: 622px;
    height: 556px;
    border-radius: 20px;
}



/*section#section1 div {*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*}*/

#map {
    height: 500px;
    background-color: #ccc;
}
.map_wrap {position:relative;overflow:hidden;width:100%;height:500px;}
.radius_border{border:1px solid #919191;border-radius:5px;}
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;}
.custom_zoomcontrol span {display:block;width:36px;height:40px;text-align:center;cursor:pointer;}
.custom_zoomcontrol span img {width:15px;height:15px;padding:12px 0;border:none;}
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}


#section3 {
    margin-top: 40px;
    background-color: #569ACC; /* 배경 색상 변경 */
    max-width: 100%; /* 부모 요소의 가로를 맞춤 */
    height: 600px; /* 높이를 600px로 지정 */
    border-radius: 20px; /* 둥근 테두리 설정 */
    padding: 20px; /* 내부 여백 설정 */
    box-sizing: border-box; /* 요소의 크기를 테두리와 여백을 포함하여 계산 */
}

#section3 > div {
    display: flex;
    align-items: center; /* 이미지와 h1을 세로 중앙에 정렬 */
}

#section3 img {
    margin-right: 10px; /* 이미지와 h1 사이 간격 조정 */
    width: 60px;
    height: auto;
}
#aiResults p {
    margin: 0; /* 문단의 상하 여백 제거 */
    font-size: 24px; /* 텍스트 크기 변경 */
    word-wrap: break-word;
    color: white;
}

#aiResults {
    margin-top: 10px; /* aiResults와 이미지, h1 사이 간격 조정 */
}

/*footer 부분*/

.footer {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬합니다. */
}
.footer-logo{
    margin-right: auto;
    margin-left: 30px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer span{
    color: #7E7E7E;
    font-weight: bold;
}

.footer-group {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 배치합니다. */
    margin-top:10px;
    margin-left: -1400px;
}

.github-link {
    margin-left: auto; /* 우측으로 정렬합니다. */
}

