.separator {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* border-top: 1px dashed #ccc; */ /* 점선 구분선 */
    /* border-top: 1px dotted #ccc; */ /* 점선 구분선 */
    margin: 20px 0; /* 구분선 위아래 여백 설정 */
}
.header-btn3{
    font-weight: bold;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* 화면 전체 높이에 맞추기 위해 */
}
/*article 부분*/
article{

}
.image{
    margin-top: 65px;
}
.title{
    color:forestgreen;
}
.subtitle{

}
.content{

}
.content p{
    border: 1px solid #000;
    padding: 10px;
    background-color: lightgray;
    width: 410px;
    height: 300px;
    margin-bottom: 40px;
}
.region{

}

.tour-info-comment-form {
    margin: 20px 0 20px 0;
    position: relative;
}

.tour-info-comment-form input {
    width: calc(100% - 12px);
    height: 50px;
    padding: 0 0 0 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.tour-info-comment-form input::placeholder {
    color: #cccccc;
}

.tour-info-comment-form button {
    width: 80px;
    height: 52px;
    padding: 0;
    font-size: 16px;
    background-color: #2AD931;
    color: #fff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.comment-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-content {
    flex-grow: 1;
    margin-right: 10px;
    color: #333;
}

.comment-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.writer-name {
    font-weight: bold;
    margin-right: 25px;
}

.button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-button {
    background-color: #4CAF50;
    opacity: 0.8;
    border-radius: 15px;
    color: white;
}

.delete-button {
    background-color: #f44336;
    opacity: 0.8;
    border-radius: 15px;
    color: white;
}
.delete{
    position: relative;
    bottom: 760px;
    left: 340px;
}
/*footer 부분*/
.footer {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬합니다. */
}
.footer-logo{
    margin-right: auto;
    margin-left: 30px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer span{
    color: #7E7E7E;
    font-weight: bold;
}

.footer-group {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 배치합니다. */
    margin-top:10px;
    margin-left: -1400px;
}

.github-link {
    margin-left: auto; /* 우측으로 정렬합니다. */
}