.separator {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* border-top: 1px dashed #ccc; */ /* 점선 구분선 */
    /* border-top: 1px dotted #ccc; */ /* 점선 구분선 */
    margin: 20px 0; /* 구분선 위아래 여백 설정 */
}
.header-btn3{
    font-weight: bold;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이에 맞추기 위해 */
}
/*article 부분*/
article{

}
.image{
    margin-top: 65px;
}
.title{
    color:forestgreen;
}
.subtitle{

}
.content{

}
.content p{
    border: 1px solid #000;
    padding: 10px;
    background-color: lightgray;
    width: 410px;
    height: 300px;
    margin-bottom: 40px;
}
.region{

}
.comment{

}
.comment-input{
    width: 355px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 50px;
}
.comment-btn{
    width: 50px;
    background-color: forestgreen;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.comment-input::placeholder {
    color: #999;
}
.delete{
    position: relative;
    bottom: 760px;
    left: 340px;
}
/*footer 부분*/
.footer {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬합니다. */
}
.footer-logo{
    margin-right: auto;
    margin-left: 30px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer span{
    color: #7E7E7E;
    font-weight: bold;
}

.footer-group {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 배치합니다. */
    margin-top:10px;
    margin-left: -1400px;
}

.github-link {
    margin-left: auto; /* 우측으로 정렬합니다. */
}