
/* 전체 헤더 스타일링 */

/* 로고 이미지 스타일링 */
body {
    width: 1920PX; /* 뷰포트의 너비에 맞게 설정 */
    height: 100%; /* 뷰포트의 높이에 맞게 설정 */
    overflow-X: hidden; /* 화면을 넘어가는 콘텐츠를 숨김 */
    margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;

}
/* 각 요소들의 스타일 */
.logo, .header-buttons, .user-controls {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
}
.header logo{
    width:200px;
    height: 200px;
}
.logo img{
    cursor:pointer;
}
/*여기갈까? 같이갈까? 버튼 설정*/
.header-buttons span {
    margin-right: 50px; /* 버튼 사이의 간격 설정 */
    font-size: 25px;
    padding: 5px 10px;
    cursor: pointer;
}

#title{
    cursor: pointer;
}
/*마이페이지 버튼과 찜 버튼 설정*/
.user-controls img{
    margin-right: 30px;
    /*padding: 5px 10px;*/
    cursor: pointer;
}

/*구분 선*/
.separator {
    border-top: 1px solid #ccc; /* 실선 구분선 */
    /* border-top: 1px dashed #ccc; */ /* 점선 구분선 */
    /* border-top: 1px dotted #ccc; */ /* 점선 구분선 */
    margin: 0 0; /* 구분선 위아래 여백 설정 */
}

/*중간 body 부분*/

.menu-bar{
    display: flex;
    flex-direction: column;
}
.menu-img{
    display: flex;
    justify-content: space-between;
    margin-top: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
}
.toptenSpots{
    display: flex;
}
.left-column,.right-column{
    flex: 1;
}
.left-column{
    margin-left: 1400px;
}
.right-column{
    margin-left: -200px;
}
/* a 태그들의 세로 간격 늘리기 */
.left-column .tourist-site, .right-column .tourist-site{
    margin-bottom: 30px; /* 간격을 조정할 값으로 변경 가능 */
}
.hotCompanions{
    position:relative;
    top:180px;
    right:80px;
}
.menu-bar img{
    margin-right: 60px;
    width:400px;
    height: 450px;
}
.menu-bar span{
    color:white;
    font-size:30px;
    margin-left: 1450px;
    margin-top: -400px;
    margin-bottom: 50px;
}
/*인기 동행 게시글 */
.tourist-sites12{
    margin-top: -70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3개의 열을 가짐 */
    gap: 20px; /* 관광지 사이의 간격 설정 */
    row-gap: 100px;
    margin-bottom: 20px;
    margin-left: 300px;

}

.tourist-sites1{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba(225,225,225,0.2);
    border-radius: 20px;
    backdrop-filter: blur(20px);

}
.tourist-site1{
    border: 1px solid #ccc;
    /*padding:20px;*/
    border-radius: 20px;
    width:430px;
    margin-left: 20px;
    justify-content: space-between;
}
.top-contents{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.top-writer-profileimg{
    width:50px;
    height: 50px;
    border-right: 50px;
    background-color: #cccccc;
    margin-left: 20px;
}
.top-writer-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
}
.top-writer-info p{
    margin: 0px;
}
.top-writer-info-datails{
    display: flex;
    margin-top: 2px;
}
.top-writer-info-datails p{
    color: #0085FF;
    margin-right: 2px;
}
.userBirth{
    display: none;
}
.top-companion-schedule{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.top-companion-schedule p{
    margin:0px;
    font-weight: bold;
}
.top-companion-schedule-details{
    display: flex;
    margin-top: 5px;
}
.top-companion-schedule-details p{
    color:#3ADC1F;
    font-weight: bold;
}
hr{
    margin : 0 70px;
    height: 50px;
    border : 1px solid rgba(40,40,40,.5);
}
.top-companion-schedule{
    display: flex;
}
.middle-contents{
    position: relative;
    display: flex;
    flex-direction: column;
}
.companion-image-placeholder{
    display: flex;
}
#sample-image{
    width:100%;
    height:150px;
    border-right: 10px;
}
.bottom-contents{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 5px 0px 10px 10px;
}
.bottom-contents p{
    color: black;
    font-weight: bold;
}
.bottom-contents-title{
    font-weight: bold;
}

/*인기 관광지 게시글*/
.tourist-sites{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열을 가짐 */
    gap: 20px; /* 관광지 사이의 간격 설정 */
    row-gap: 100px;
    margin-bottom: 60px;
}

.tourist-site1, .tourist-site2 {
    /* 각 관광지 요소의 스타일 */
    text-align: center; /* 내용을 중앙으로 정렬 */
}
.tourist-site1 img , .tourist-site2 img{
    width:250px;
    height:200px;
    border-radius: 10px;
}
.spot-link {
    cursor: pointer; /* 커서를 포인터로 변경 */
    text-decoration: none;
}
.tourist-site .spot-link{
    color:#64FD06;
}
.tourist-site .spot-link p{
    color: white;
}

h3{
    cursor: pointer;
}
p{
    color: #7E7E7E;
}
h3, p {
    margin: 5px 0; /* 요소들의 위아래 여백 설정 */
}

.hotCompanions, .hotSpots{
    margin-top: 170px;
    margin-left: 110px;

}
#title,#title1{
    font-size: 25px;
    font-weight: bold;
}
#content,#content1{
    margin-top: 10px;
    font-size:15px;
    color: #64FD06;
}


/*footer 부분*/

.footer {
    display: flex;
    align-items: center; /* 요소들을 수직 가운데 정렬합니다. */
}
.footer-logo{
    margin-right: auto;
    margin-left: 30px;
}
.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer span{
    color: #7E7E7E;
    font-weight: bold;
}

.footer-group {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 배치합니다. */
    margin-top:10px;
    margin-left: -1400px;
}

.github-link {
    margin-left: auto; /* 우측으로 정렬합니다. */
}
/*페이징 처리*/
.pagination {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 80px;
}
.pagination span{
    margin-bottom: 10px;
}

.pagination a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 10px;
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
.pagination a.active {
    background-color: #4CAF50; /* 예시로 녹색을 선택 */
    color: white; /* 텍스트 색상을 흰색으로 */
    border: 1px solid #4CAF50; /* 경계선도 동일한 색상으로 */
}
.pagination a:hover:not(.active) {
    background-color: #ddd; /* 호버 효과 */
}