<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>같이갈까?</title>
        <link rel="stylesheet" th:href="@{/css/companions.css}">

    </head>
</head>
<body>
<header>
    <div class ="header">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

        </div>
        <div class="header-buttons">
            <span class="header-btn1" onclick="goToHerePage()">여기갈까?</span>
            <span class="header-btn2" onclick="goToCompanionsPage()">같이갈까?</span>
            <span class="header-btn3" onclick="goToReviewPage()">후기볼까?</span>
        </div>
        <div class="user-controls">
            <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동"/>
            <img th:src="@{/images/like.png}" alt="찜"/>
        </div>
    </div>
    <div class="separator"></div>
</header>

<main>
    <div class="regions">
        <div class="regions-button-wrap">
            <span class="region-all-btn" onclick="goToCompanionsPage()">전체</span>
            <span class="region-btn" data-area-code="1">서울</span>
            <span class="region-btn" data-area-code="31">경기</span>
            <span class="region-btn" data-area-code="2">인천</span>
            <span class="region-btn" data-area-code="32">강원</span>
            <span class="region-btn" data-area-code="33">충북</span>
            <span class="region-btn" data-area-code="34">충남</span>
            <span class="region-btn" data-area-code="35">경북</span>
            <span class="region-btn" data-area-code="36">경남</span>
            <span class="region-btn" data-area-code="37">전북</span>
            <span class="region-btn" data-area-code="38">전남</span>
            <span class="region-btn" data-area-code="39">제주</span>
        </div>
        <div class="region-image">
            <img id="regionImage" th:src="@{/images/companion.png}" alt="대표이미지"/>
        </div>
    </div>

    <div class="button-wrap">

            <a class="sort-recent-button">최신 순</a>
            <a class="sort-popular-button">인기 순</a>
            <a class="sort-view-button">많이 본 순</a>
            <a class="sort-comment-button">댓글 순</a>

        <a class="button-create-post">같이가자!</a>
    </div>
    <div class="tourist-sites">
        <!-- 게시글 리스트가 여기에 표시됩니다. -->
        <div class="tourist-site" th:each="companion : ${companions}">
            <div class="top-contents">
                <div class="top-writer-profileimg"></div>
                <div class="top-writer-info">
                    <p class="top-writer-info-username" th:text="${companion.userName}"></p>
                    <div class="top-writer-info-details">
                        <p class="userBirth" th:text="${#strings.length(companion.userBirth) > 10 ? #strings.substring(companion.userBirth, 0, 10) : companion.userBirth}"></p>
                        <p class="userAge"></p>
                        <p>&nbsp;·&nbsp;</p>
                        <p th:text="${companion.userGender}"></p>
                    </div>
                </div>
                <hr>
                <div class="top-companion-schedule">
                    <p>🗓️ 여행기간</p>
                    <div class="top-companion-schedule-details">
                        <p th:text="${#temporals.format(companion.comStart, 'MM.dd')}"></p>
                        <p> ~ </p>
                        <p th:text="${#temporals.format(companion.comEnd, 'MM.dd')}"></p>
                    </div>
                </div>
            </div>


            <div class="middle-contents">
                <div class="companion-image-placeholder">
                    <img id="sample-image" th:src="@{/images/companionTestImg.png}" alt="샘플이미지">
                </div>

                <div class="companion-status">
                    <div class="companion-status-image">
                        <img id="recruit-image" th:src= "@{/images/recruit.png}" alt="모집인원 이미지">
                        <img id="reserve-image" th:src= "@{/images/reserve.png}" alt="현재인원 이미지">
                        <img id="like-image" th:src= "@{/images/like.png}" alt="좋아요 이미지">
                    </div>

                    <div class="companion-status-number">
                        <p class="companion-status-number-recruit" th:text="${companion.comRecruit}"></p>
                        <p class="companion-status-number-reserve" th:text="${companion.comReserve}"></p>
                        <p class="companion-status-number-wish" th:text="${companion.comWish}"></p>
                    </div>
                </div>
            </div>


            <div class="bottom-contents">
                <p class="bottom-contents-title" th:text="${#strings.length(companion.postTitle) > 29 ? #strings.substring(companion.postTitle,0,29) + '...' : companion.postTitle}"></p>
                <p class="bottom-contents-content" th:text="${#strings.length(companion.postContent) > 29 ? #strings.substring(companion.postContent,0,29) + '...' : companion.postContent}"></p>
            </div>
        </div>
    </div>

    <div class="pagination" th:if="${companions.totalElements > 0}">
        <a th:if="${pageType == 'all' and companions.hasPrevious}" th:href="@{/api/spots(page=${currentPage - 1}, size=${companions.size})}">이전</a>
        <a th:if="${pageType == 'region' and companions.hasPrevious}" th:href="@{/api/spots/code/{areaCode}(areaCode=${areaCode},page=${currentPage - 1}, size=${companions.size})}">이전</a>

        <span th:each="pageNum : ${#numbers.sequence(1, companions.totalPages)}">
            <a th:if="${pageType == 'all'}" th:href="@{/api/posts(page=${pageNum}, size=${companions.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>
            <a th:if="${pageType == 'region'}" th:href="@{/api/posts/{areaCode}(areaCode=${areaCode}, page=${pageNum}, size=${companions.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>

        </span>

        <a th:if="${pageType == 'all' and companions.hasNext}" th:href="@{/api/posts(page=${currentPage + 1}, size=${companions.size})}">다음</a>
        <a th:if="${pageType == 'region' and companions.hasNext}" th:href="@{/api/posts/{areaCode}(areaCode=${areaCode},page=${currentPage + 1}, size=${companions.size})}">다음</a>
    </div>
</main>
<div class="separator-footer"></div>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고"/>
        </div>
        <div class="footer-group">
            <div class="data">
                <span>데이터 제공 : 한국관광공사 TourAPI</span>
            </div>
            <div class="icon-made">
                <span>아이콘 제작자: Freepik - Flaticon</span>
            </div>
        </div>
        <div class="github-link">
            <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
                <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
            </a>
        </div>
    </div>
</footer>
</body>
<script src="/js/companions.js"></script>
</html>