<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>같이갈까?</title>
    <link rel="stylesheet" th:href="@{/css/companionsDetail.css}">
</head>
<body>
<header>
    <div class ="header">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

        </div>
        <div class="header-buttons">
            <span class="header-btn1" onclick="goToHerePage()">여기갈까?</span>
            <span class="header-btn2" onclick="goToCompanionsPage()">같이갈까?</span>
            <span class="header-btn3" onclick="goToReviewPage()">후기볼까?</span>
        </div>
        <div class="user-controls">
            <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동"/>
            <img th:src="@{/images/like.png}" alt="찜"/>
        </div>
    </div>
    <div class="separator"></div>
</header>

<main>
    <div class="regions">
        <div class="region-image">
            <img id="regionImage" th:src="@{/images/companionTestImg.png}" alt="샘플이미지"/>
        </div>
    </div>

    <div class="title-contents">
        <p class="title-text">제목</p>
        <div class="title-contents-info">
            <p>조회수</p>
            <p>15</p>
            <p> | </p>
            <p>관심인원</p>
            <p>45</p>
            <p> | </p>
            <p>댓글</p>
            <p>3</p>
        </div>
    </div>

    <div class="tour-info">
        <div class="tour-info-schedule-wrap">
            <p class="title-text">여행 일정</p>

            <div class="tour-info-schedule-details">
                <div class="tour-info-schedule">
                    <p>🗓️ 2024.05.20</p>
                    <p>&nbsp;~&nbsp;</p>
                    <p>2024.05.25</p>
                </div>

                <div class="tour-info-region">
                    <p>📍 전라북도,&nbsp;</p>
                    <p>전주,&nbsp;</p>
                    <p>한옥마을</p>
                </div>
            </div>
        </div>

        <div class="tour-info-userInfo">
            <p class="title-text">여행장</p>

            <div class="tour-info-userInfo-wrap">
                <div class="profileimg"></div>
                    <div class="tour-info-userInfo-detail">
                        <p class="tour-info-userInfo-userName">재원</p>
                        <div class="tour-info-userInfo-details">
                            <p>20대</p>
                            <p>&nbsp;|&nbsp;</p>
                            <p>남자</p>
                            <p>&nbsp;|&nbsp;</p>
                            <p>서울</p>
                        </div>
                    </div>
            </div>
        </div>

        <div class="tour-info-content-wrap">
            <p class="title-text">여행 소개</p>
            <div class="tour-info-content">
                <p>게시글 내용</p>
            </div>

            <div class="tour-info-comment-wrap">
                <p class="title-text">댓글</p>
                <div class="tour-info-comment-form">
                    <input type="text" placeholder="댓글을 입력해주세요.">
                    <button>게시</button>
                </div>

                <div class="tour-info-comment-list-wrap">
                    <div class="tour-info-comment-list">
                        <div class="tour-info-comment-list-userInfo">
                            <div class="tour-info-comment-list-userInfo-profileimg"></div>
                            <div class="tour-info-comment-list-userInfo-detail">
                                <p class="tour-info-comment-list-userInfo-userName">재원</p>
                                <p class="tour-info-comment-list-created">2024/05/13/&nbsp;06:30:15</p>
                            </div>
                        </div>
                        <p>아무도 없나요??</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="tour-info-companions">
            <p class="title-text">여행 동행하기</p>
            <div class="tour-info-companions-details">
                <div class="tour-info-companions-detail">
                    <p>모집 인원&nbsp;:&nbsp;</p>
                    <p>5명</p>
                </div>
                <div class="tour-info-companions-detail">
                    <p>현재 동행 인원&nbsp;:&nbsp;</p>
                    <p>3명</p>
                </div>
                <div class="tour-info-companions-detail">
                    <p>관심 가지는 인원&nbsp;:&nbsp;</p>
                    <p>45명</p>
                </div>
            </div>
            <div class="tour-info-companions-button-wrap">
                <a class="tour-info-companions-button">같이갈래!</a>
                <a class="tour-info-companions-button-wish">같이 가볼까?(찜)</a>
            </div>
            <div class="tour-info-companions-map"></div>
        </div>
    </div>


</main>

<footer>
    <div class="separator-footer"></div>
    <div class="footer">
        <div class="footer-logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고"/>
        </div>
        <div class="footer-group">
            <div class="data">
                <span>데이터 제공 : 한국관광공사 TourAPI</span>
            </div>
            <div class="icon-made">
                <span>아이콘 제작자: Freepik - Flaticon</span>
            </div>
        </div>
        <div class="github-link">
            <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
                <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
            </a>
        </div>
    </div>
</footer>
</body>
</html>