<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>같이갈까?</title>
    <link rel="stylesheet" th:href="@{/css/companionsDetail.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div class ="header">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

        </div>
        <div class="header-buttons">
            <span class="header-btn1" onclick="goToHerePage()">여기갈까?</span>
            <span class="header-btn2" onclick="goToCompanionsPage()">같이갈까?</span>
            <span class="header-btn3" onclick="goToReviewPage()">후기볼까?</span>
        </div>
        <div class="user-controls">
            <a href="#" onclick="goToMyPage()">
                <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동"/>
            </a>
            <img th:src="@{/images/like.png}" alt="찜"/>
        </div>
    </div>
    <div class="separator"></div>
</header>

<main>
    <div class="regions">
        <div class="region-image">
            <img id="regionImage" th:src="@{${img_link}}" alt="게시물 이미지"/>
        </div>
    </div>

    <div class="title-contents">
        <p class="title-text" th:text="${post.postTitle}"></p>
        <input type="hidden" id="companion-id" th:value="${companion.companionId}">
        <input type="hidden" id="post-id" th:value="${post.postId}">
        <div class="title-contents-info">
            <p>조회수</p>
            <p th:text="${post.postView}"></p>
            <p> | </p>
            <p>관심인원</p>
            <p th:text="${companion.comWish}"></p>
            <p> | </p>
            <p>댓글</p>
            <!-- 댓글 기능 추가 필요 -->
            <p>0</p>
        </div>
    </div>

    <div class="tour-info">
        <div class="tour-info-schedule-wrap">
            <p class="title-text">여행 일정</p>

            <div class="tour-info-schedule-details">
                <div class="tour-info-schedule">
                    <p>🗓️&nbsp;</p>
                    <p th:text="${companion.comStart}"></p>
                    <p>&nbsp;~&nbsp;</p>
                    <p th:text="${companion.comEnd}"></p>
                </div>

                <div class="tour-info-region">
                    <div class="tour-info-region-areaCode">
                        <p>📍&nbsp;</p>
                        <div class="text-muted fst-italic mb-2" id="areaText"></div>
                        <input type="hidden" id="areaCode" th:value="${post.areaCode}">
                    </div>

                    <div class="tour-info-region-address">
                        <p>주소 :&nbsp;</p>
                        <p th:text="${post.address}">&nbsp;</p>
                    </div>

                    <div class="tour-info-region-spotName">
                        <p>관광지명 :&nbsp;</p>
                        <p th:text="${post.spotName}"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tour-info-userInfo">
            <p class="title-text">여행장</p>

            <div class="tour-info-userInfo-wrap">
                <div class="profileimg"></div>
                    <div class="tour-info-userInfo-detail">
                        <p class="tour-info-userInfo-userName" th:text="${user.userName}"></p>
                        <div class="tour-info-userInfo-details">
                            <!-- 나이 설정 필요 -->
                            <p class="userBirth" th:text="${user.userBirth}"></p>
                            <p class="userAge"></p>
                            <p>&nbsp;|&nbsp;</p>
                            <p th:text="${user.userGender}"></p>
                            <p>&nbsp;|&nbsp;</p>
                            <p th:text="${user.userRegion}"></p>
                        </div>
                    </div>
            </div>
        </div>

        <div class="tour-info-content-wrap">
            <p class="title-text">여행 소개</p>
            <div class="tour-info-content">
                <p th:text="${post.postContent}"></p>
            </div>

            <div class="tour-info-comment-wrap">
                <p class="title-text">댓글</p>
                <div class="tour-info-comment-form">
                    <input type="text" placeholder="댓글을 입력해주세요.">
                    <button onclick="submitComment()">게시</button>
                </div>
                <div th:each="comment : ${comments}" class="comment-container">
                    <input type="hidden" id="user-id" th:value="${comment.writerId}">
                    <img th:if="${comment.userImage != null}" th:src="${comment.userImage}" class="user-image" alt="User Image">
                    <img th:if="${comment.userImage == null}" th:src="@{/images/logo.png}" class="user-image" alt="Default User Image">
                    <div class="comment-info">
                        <div class="writer-name" th:text="${comment.writerName}"></div>
                        <div class="comment-content" th:text="${comment.content}"></div>
                    </div>
                    <button class="button edit-button" th:attr="data-id=${comment.replyId}">수정</button>
                    <button class="button delete-button" th:attr="data-id=${comment.replyId}">삭제</button>
                </div>
            </div>
        </div>

        <div class="tour-info-companions">
            <p class="title-text">여행 동행하기</p>
            <div class="tour-info-companions-details">
                <div class="tour-info-companions-detail">
                    <p>모집 인원&nbsp;:&nbsp;</p>
                    <p th:text="${companion.comRecruit}"></p>
                    <p>명</p>
                </div>
                <div class="tour-info-companions-detail">
                    <p>현재 동행 인원&nbsp;:&nbsp;</p>
                    <p th:text="${companion.comReserve}"></p>
                    <p>명</p>
                </div>
                <div class="tour-info-companions-detail">
                    <p>관심 가지는 인원&nbsp;:&nbsp;</p>
                    <p th:text="${companion.comWish}"></p>
                    <p>명</p>
                </div>
            </div>
            <div class="tour-info-companions-button-wrap">
                <a class="tour-info-companions-button" id="booking-btn" th:if="${companion.comStatus}">같이갈래!</a>
                <span class="tour-info-companions-deadline" th:unless="${companion.comStatus}">예약 마감!!</span>
                <a class="tour-info-companions-button-wish" id="wishing-btn">같이 가볼까?(찜)</a>
            </div>
            <div class="tour-info-companions-map"></div>
        </div>
    </div>


</main>

<footer>
    <div class="separator-footer"></div>
    <div class="footer">
        <div class="footer-logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고"/>
        </div>
        <div class="footer-group">
            <div class="data">
                <span>데이터 제공 : 한국관광공사 TourAPI</span>
            </div>
            <div class="icon-made">
                <span>아이콘 제작자: Freepik - Flaticon</span>
            </div>
        </div>
        <div class="github-link">
            <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
                <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
            </a>
        </div>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // areaCode 값을 정수형으로 변환
        let areaCode = parseInt(document.getElementById('areaCode').value, 10);
        const areaText = document.getElementById('areaText');
        areaText.innerText = "지역 : " + getAreaName(areaCode);
    });
    function getAreaName(areaCode){
        switch (areaCode){
            case 1:
                return "서울";
            case 2:
                return "인천";
            case 31:
                return "경기";
            case 32:
                return "강원";
            case 33:
                return "충북";
            case 34:
                return "충남";
            case 35:
                return "경북";
            case 36:
                return "경남";
            case 37:
                return "전북";
            case 38:
                return "전남";
            case 39:
                return "제주";
            default:
                return "알 수 없음";
        }
    }
</script>
</body>
<script src="/js/companionsDetail.js" defer></script>
<script src="/js/page.js" defer></script>
</html>