<div class="footer">
    <div class="footer-logo">
        <img th:src="@{/images/logo.png}" alt="팀 로고"/>
    </div>
    <div class="footer-group">
        <div class="data">
            <span>데이터 제공 : 한국관광공사 TourAPI</span>
        </div>
        <div class="icon-made">
            <span>아이콘 제작자: Freepik - Flaticon</span>
        </div>
    </div>
    <div class="github-link">
        <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
            <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
        </a>
    </div>
</div>