<div class ="header">
    <div class="logo">
        <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

    </div>
    <div class="header-buttons">
        <span class="header-btn1" onclick="goToHerePage()">여기갈까?</span>
        <span class="header-btn2" onclick="goToTogetherPage()">같이갈까?</span>
        <span class="header-btn3" onclick="goToReviewPage()">후기볼까?</span>
    </div>
    <div class="user-controls">
        <a href="/oauth2/authorization/google" class="btn btn-success active" role="button"> Google Login</a>
        <span id="login" onclick="goToLoginPage()">로그인</span>
        <span>로그아웃</span>
        <a>
            <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동" onclick="goToMyPage()"/>
        </a>
        <img th:src="@{/images/like.png}" alt="찜" onclick="goToWishListPage()"/>
    </div>
</div>
<div class="separator"></div>