<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여기갈까?</title>
    <link rel="stylesheet" th:href="@{/css/here.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
    <header>
        <div th:replace="~{header.html}"></div>
    </header>
    <main>
        <div class="regions">
            <span class="region-all-btn" onclick="goToHerePage()">전체</span>
            <span class="region-btn" data-area-code="1">서울</span>
            <span class="region-btn" data-area-code="31">경기</span>
            <span class="region-btn" data-area-code="2">인천</span>
            <span class="region-btn" data-area-code="32">강원</span>
            <span class="region-btn" data-area-code="33">충북</span>
            <span class="region-btn" data-area-code="34">충남</span>
            <span class="region-btn" data-area-code="35">경북</span>
            <span class="region-btn" data-area-code="36">경남</span>
            <span class="region-btn" data-area-code="37">전북</span>
            <span class="region-btn" data-area-code="38">전남</span>
            <span class="region-btn" data-area-code="39">제주</span>
        </div>
        <div class="region-image">
            <img id="regionImage" th:src="@{/images/seoul.png}" alt="대표이미지"/>
        </div>
        <div class="tourist-sites">
            <!-- 관광지 리스트가 여기에 표시됩니다. -->
            <div class="tourist-site" th:each="spot : ${spots}">
                <img th:if="${not #strings.isEmpty(spot.spotImg)}" th:onclick="|location.href='@{/spots/id/{postId}(postId=${spot.postId})}'|" th:src="${spot.spotImg}" alt="관광지 이미지">
                <img th:if="${#strings.isEmpty(spot.spotImg)}" th:onclick="|location.href='@{/spots/id/{postId}(postId=${spot.postId})}'|" src="/images/havenotimage.png" alt="이미지 준비중">
                <p th:text="${spot.spotAddr}"></p>
                <h3 id="spotName" th:text="${spot.spotName}" data-postid="${spot.postId}" th:onclick="|location.href='@{/spots/id/{postId}(postId=${spot.postId})}'|"></h3>
                <p th:text="${#strings.length(spot.spotOverview) > 20 ? #strings.substring(spot.spotOverview,0,20)+'...': spot.spotOverview}"></p>
                <input type="hidden" class="spotId" th:value="${spot.spotId}">
                <input type="hidden" class="postId" th:value="${spot.postId}">
            </div>
        </div>
    </div>

    <div class="pagination" th:if="${spots.totalElements > 0}">
        <a th:if="${pageType == 'all' and spots.hasPrevious}" th:href="@{/spots(page=${currentPage - 1}, size=${spots.size})}">이전</a>
        <a th:if="${pageType == 'region' and spots.hasPrevious}" th:href="@{/spots/{areaCode}(areaCode=${areaCode},page=${currentPage - 1}, size=${spots.size})}">이전</a>

        <span th:each="pageNum : ${#numbers.sequence(1, spots.totalPages)}">
            <a th:if="${pageType == 'all'}" th:href="@{/spots(page=${pageNum}, size=${spots.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>
            <a th:if="${pageType == 'region'}" th:href="@{/spots/{areaCode}(areaCode=${areaCode}, page=${pageNum}, size=${spots.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>
        </span>

        <a th:if="${pageType == 'all' and spots.hasNext}" th:href="@{/spots(page=${currentPage + 1}, size=${spots.size})}">다음</a>
        <a th:if="${pageType == 'region' and spots.hasNext}" th:href="@{/spots/{areaCode}(areaCode=${areaCode},page=${currentPage + 1}, size=${spots.size})}">다음</a>
    </div>
</main>
<div class="separator"></div>
<footer>
    <footer>
        <div th:replace="~{footer.html}"></div>
    </footer>
</footer>
</body>
<script src="/js/here.js" defer></script>
<script src="/js/page.js" defer></script>

</html>

