<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>너나들이</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div th:replace="~{header.html}"></div>
</header>
<main>
    <div class="background-image">
        <img id="regionImage" th:src="@{/images/tour.png}" alt="검색배경 이미지" />
    </div>

    <div class="search-bar">
            <div class="search">
                <div class="searchInput">
                    <input type="text" id="searchInput" name="searchText" placeholder="게시물을 검색해보세요!">
                </div>
                <button id="searchButton" class="search-button" onclick="searchSpot()"> 🔍 </button> <!-- 버튼 텍스트 수정 -->
            </div>
        </div>

    <div class="toptenSpots">
        <h1>인기 관광지 TOP 10</h1>
        <ul>
            <li th:each="rank, rankStat : ${searchRank}">
                <span th:text="${rankStat.count} + '. ' + ${rank.keyword}"></span>
            </li>
        </ul>
    </div>

    <!--최근 인기 동행 게시글-->
    <div class="hotCompanions">

        <img  th:src="@{/images/companionsMark.png}"/>
        <div>
            <span id="title">최근 인기 동행 게시글</span>
        </div>
        <div>
            <span id="content">인기 있는 동행글을 추천받아보세요</span>
        </div>
    </div>

    <div class="tourist-sites12">
        <!-- 동행 리스트가 여기에 표시됩니다. -->
        <div class="tourist-site1" th:each="companion : ${companions}">
            <div class="top-contents">
                <div class="top-writer-profileimg"></div>
                <div class="top-writer-info">
                    <p class="top-writer-info-username" th:text="${companion.userName}"></p>
                    <div class="top-writer-info-datails">
                        <p class="userBirth" th:text="${#strings.length(companion.userBirth) > 10 ? #strings.substring(companion.userBirth, 0, 10) : companion.userBirth}"></p>
                        <p class="userAge"></p>
                        <p th:text="${companion.userGender}"></p>
                    </div>
                </div>
                <hr>
                <div class="top-companion-schedule">
                    <p>🗓️ 여행기간</p>
                    <div class="top-companion-schedule-details">
                        <p th:text="${#temporals.format(companion.comStart, 'MM.dd')}"></p>
                        <p> ~ </p>
                        <p th:text="${#temporals.format(companion.comEnd, 'MM.dd')}"></p>
                    </div>
                </div>
            </div>
            <div class="middle-contents">
                <div class="companion-image-placeholder">
                    <img id="sample-image" th:onclick="|location.href='@{/companions/id/{comtId}(comtId=${companion.comId})}'|" th:src="${companion.imgLink}" alt="업로드한 이미지">
                </div>
            </div>
            <div class="bottom-contents">
                <p class="bottom-contents-title" th:text="${#strings.length(companion.postTitle) > 29 ? #strings.substring(companion.postTitle,0,29) + '...' : companion.postTitle}"></p>
                <p class="bottom-contents-content" th:text="${#strings.length(companion.postContent) > 29 ? #strings.substring(companion.postContent,0,29) + '...' : companion.postContent}"></p>
            </div>
        </div>
    </div>

    <!--최근 인기 관광지 게시글-->
    <div class="hotSpots">
        <img  th:src="@{/images/spotsMark.png}"/>
        <div>
            <span id="title1">최근 인기 관광지</span>
        </div>
        <div>
            <span id="content1">인기 있는 관광지를 추천받아보세요</span>
        </div>
    </div>

    <div class="tourist-sites">
        <!-- 관광지 리스트가 여기에 표시됩니다. -->
        <div class="tourist-site2" th:each="spot : ${spots}">
            <img th:if="${not #strings.isEmpty(spot.spotImg)}" th:onclick="|location.href='@{/spots/id/{postId}(postId=${spot.postId})}'|" th:src="${spot.spotImg}" alt="관광지 이미지">
            <img th:if="${#strings.isEmpty(spot.spotImg)}" th:onclick="|location.href='@{/spots/id/{postId}(postId=${spot.postId})}'|" src="/images/havenotimage.png" alt="이미지 준비중">
            <p th:text="${spot.spotAddr}"></p>
            <h3 id="spotName" th:text="${spot.spotName}" data-postid="${spot.postId}" th:onclick="|location.href='@{/spots/id/{postId}(postId=${spot.postId})}'|"></h3>
            <p th:text="${#strings.length(spot.spotOverview) > 20 ? #strings.substring(spot.spotOverview,0,20)+'...': spot.spotOverview}"></p>
            <input type="hidden" class="spotId" th:value="${spot.spotId}">
            <input type="hidden" class="postId" th:value="${spot.postId}">
        </div>
    </div>
</main>
<div class="separator"></div>
<footer>
    <div th:replace="~{footer.html}"></div>
</footer>
</body>
<script src="/js/main.js" defer></script>
<script src="/js/page.js" defer></script>
</html>

