<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너나들이 - 나의 매칭</title>
    <link rel="stylesheet" th:href="@{/css/my-matching.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div th:replace="~{header.html}"></div>
    <div class="header_subbox">
        <nav class="my_matching"><a href="#" onclick="reloadPage()">나의 매칭</a></nav>
        <nav class="my_info"><a href="#" onclick="goToMyPage()">내 정보</a></nav>
    </div>
    <hr>
</header>
<main>
    <!--나의 매칭, 위시리스트 로딩-->
</main>
<hr id="last_line">
<footer>
    <button class="goup" onclick="scrollToTop()">
        <img th:src="@{/images/mini_logo.png}" alt="Logo">
    </button>
    <div class="footer_desc">
        <p>데이터 제공 : 한국관광공사 TourAPI</p>
        <p>아이콘 제작자: Freepik - Flaticon</p>
    </div>
    <a class="github" href="https://github.com/oreumi4-final-project-team3/neonaduri.git">
        <img th:src="@{/images/github.png}">
    </a>
</footer>

<script th:src="@{/js/my-matching.js}"></script>
<script src="/js/page.js"></script>

</body>
</html>