<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너나들이 - 나의 매칭</title>
    <link rel="stylesheet" th:href="@{/css/my-matching.css}">
</head>
<body>
<header>
    <div class="header_box">
        <a th:href="@{/api/main}">
            <img class="logo" th:src="@{/images/neonaduriLogo.png}" alt="너나들이 로고">
        </a>
        <div class="nav_box">
            <nav class="nav_one">
                <ul>
                    <li><a th:href="@{/api/main}">홈</a></li>
                    <li><a href="#" onclick="goToHerePage()">여기 갈까?</a></li>
                    <li><a href="#">같이 갈까?</a></li>
                    <li><a href="#" onclick="goToReviewPage()">후기 볼까?</a></li>
                </ul>
            </nav>
            <nav class="nav_two">
                <ul>
                    <li><a href="#">로그아웃</a></li>
                    <li><a href="#"><img th:src="@{/images/like.png}" alt="위시리스트"></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header_subbox">
        <nav class="my_matching"><a th:href="@{#}">나의 매칭</a></nav>
        <nav class="my_info"><a href="#" onclick="reloadPage()">내 정보</a></nav>
    </div>
    <hr>
</header>
<main>

</main>
<hr id="last_line">
<footer>
    <button class="goup" onclick="scrollToTop()">
        <img th:src="@{/images/mini_logo.png}" alt="Logo">
    </button>
    <div class="footer_desc">
        <p>데이터 제공 : 한국관광공사 TourAPI</p>
        <p>아이콘 제작자: Freepik - Flaticon</p>
    </div>
    <a class="github" href="https://github.com/oreumi4-final-project-team3/neonaduri.git">
        <img th:src="@{/images/github.png}">
    </a>
</footer>
<script th:src="@{/js/my-matching.js}"></script>
<script src="/js/page.js"></script>
</body>
</html>