<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>너나들이 - 마이페이지</title>
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div th:replace="~{header.html}"></div>
    <div class="header_subbox">
        <nav class="my_matching"><a th:href="@{/myMatching}">나의 매칭</a></nav>
        <nav class="my_info"><a href="#" onclick="reloadPage()">내 정보</a></nav>
    </div>
    <hr>
</header>
<main>
    <div class="main_box_top">
        <div class="main_left">
            <!--카카오톡에서 불러오는 데이터-->
            <label for="userEmail">이메일</label>
            <div class="input">
                <input type="text" id="userEmail" th:value="${user.userEmail}">
                <button class="edit" onclick="updateUser()">
                    <img th:src="@{/images/edit_pencil.png}" alt="수정하기">
                </button>
            </div>
            <label for="passwd_answer">비밀번호</label>
            <select>
                <option selected>비밀번호 질문</option>
                <option>당신이 태어난 고향은?</option>
                <option>당신의 어머니 성함은?</option>
                <option>졸업한 초등학교 이름은?</option>
                <option>가장 좋아하는 도시는?</option>
                <option>가장 감명 깊게 본 영화는?</option>
            </select>
            <input id="passwd_answer" type="password">
            <button class="edit">
                <img th:src="@{/images/edit_pencil.png}" alt="수정하기">
            </button>
            <!--너나두리 회원가입 시 입력한 데이터-->
            <label for="userRegion">지역</label>
            <div class="userRegion_wrap">
                <select type="text" id="userRegion" th:value="${user.userRegion}">
                    <option>지역을 선택해 주세요.</option>
                    <option value="1" th:selected="${user.userRegion}=='1'">서울</option>
                    <option value="31" th:selected="${user.userRegion}=='31'">경기</option>
                    <option value="2" th:selected="${user.userRegion}=='2'">인천</option>
                    <option value="32" th:selected="${user.userRegion}=='32'">강원</option>
                    <option value="33" th:selected="${user.userRegion}=='33'">충북</option>
                    <option value="34" th:selected="${user.userRegion}=='34'">충남</option>
                    <option value="35" th:selected="${user.userRegion}=='35'">경북</option>
                    <option value="36" th:selected="${user.userRegion}=='36'">경남</option>
                    <option value="37" th:selected="${user.userRegion}=='37'">전북</option>
                    <option value="38" th:selected="${user.userRegion}=='38'">전남</option>
                    <option value="39" th:selected="${user.userRegion}=='39'">제주</option>
                </select>
                <button class="edit_userRegion" onclick="updateUser()">
                    <img th:src="@{/images/edit_pencil.png}" alt="수정하기">
                </button>
            </div>
            <div class="birth_gender">
                <label for="userBirth">생년월일:&nbsp;&nbsp;</label>
                <p id="userBirth" th:text="${#temporals.format(user.userBirth, 'yyyy-MM-dd')}"></p>
                <label for="userGender">성별:&nbsp;&nbsp;</label>
                <p id="userGender" th:text="${user.userGender}"></p>
            </div>
            <!--UserDetails 테이블의 데이터-->
            <!--MBTI 레이블-->
            <label class="userMbti">MBTI</label>
            <!--MBTI 데이터-->
            <input class="mbti_input" type="text" id="userMbti" name="userMbti" th:value="${userDetails.userMbti}">
            <button class="edit" onclick="updateUserDetails()">
                <img th:src="@{/images/edit_pencil.png}" alt="수정하기">
            </button>
        </div>
        <div class="main_right">
            <!--오른쪽 프로필 모달-->
            <p id="userImg" th:text="${user.userImg}"></p>

            <!-- 프로필 이미지가 있으면 해당 이미지를 표시하고, 없으면 디폴트 이미지를 표시합니다. -->
            <img class="profile_img" th:src="${user.userImg != null ? user.userImg : '/images/havenotimage.png'}" alt="프로필 사진">

            <!-- 프로필 이미지 변경 버튼 -->
            <label for="file-upload" class="file-upload">
                <img th:src="@{/images/edit_profile_img.png}" alt="프로필 이미지 변경 버튼">
            </label>
            <!-- 파일 업로드 input -->
            <input id="file-upload" type="file" onchange="uploadImage(this)">
            <input type="text" id="userName" th:value="${user.userName}">
            <button class="edit-nickname" onclick="updateUser()">
                <img th:src="@{/images/edit_pencil.png}" alt="수정하기">
            </button>
        </div>
    </div>
    <hr class="second_hr">
    <!--UserDetails 테이블의 데이터-->
    <div class="main_box_bottom">
        <label for="userIntro">나는 누구인가요?</label>
        <div id="input">
            <textarea id="userIntro" name="userIntro" placeholder="여기에 내용을 입력하세요" th:text="${userDetails.userIntro}"></textarea>
            <button class="edit-textarea" onclick="updateUserDetails()">
                <img th:src="@{/images/edit_pencil.png}" alt="수정하기">
            </button>
        </div>
        <label>원하는 여행 스타일은?</label>
        <select id="userStyle" name="tripStyleSelect" th:value="${userDetails.userStyle}" onchange="updateUserDetails()">
            <option value="" selected>나의 여행스타일은? 🏖️</option>
            <option value="party">광란의 파티파티!!</option>
            <option value="cultural">차분하고 고요한 문화유적 기행</option>
            <option value="food">나는야 미식가! 식도락 여행</option>
            <option value="trendy">인생 사진 찍어요~ 트렌디한 여행 </option>
            <option value="activity">무적 체력을 소유한 액티비티 매니아</option>
            <option value="spontaneous">너 P야? 무계획 즉흥 여행</option>
            <option value="healing">힐링이 필요해.. 여유로운 일정</option>
        </select>
    </div>
</main>
<div class="separator"></div>
<footer>
    <button class="goup" onclick="scrollToTop()">
        <img th:src="@{/images/mini_logo.png}" alt="Logo">
    </button>
    <div class="footer_desc">
        <p>데이터 제공 : 한국관광공사 TourAPI</p>
        <p>아이콘 제작자: Freepik - Flaticon</p>
    </div>
    <a class="github" href="https://github.com/oreumi4-final-project-team3/neonaduri.git">
        <img th:src="@{/images/github.png}">
    </a>
</footer>
<script src="/js/mypage.js"></script>
<script src="/js/page.js"></script>
</body>
</html>