<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>관광지 상세 정보</title>
  <link rel="stylesheet" th:href="@{/css/post-spot-page.css}">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cbd674e6a776632944506cb4de10f74c&libraries=services"></script>
  <script src="/js/alan.js" defer></script>
  <script src="/js/map.js" defesksr></script>
  <script src="/js/post-spot-page.js" defer></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var mapX = [[${spotPage.mapX}]]; // Thymeleaf에서 mapX 값을 JavaScript 변수로 전달
    var mapY = [[${spotPage.mapY}]]; // Thymeleaf에서 mapY 값을 JavaScript 변수로 전달
    var areaCode=[[${spotPage.areaCode}]];// Thymeleaf에서 areaCode값을 JavaScript 변수로 전달
    var spotName=[[${spotPage.spotName}]];
    /*]]>*/
  </script>
</head>
<body>
<header>
  <div class ="header">
    <div class="logo">
      <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

    </div>
    <div class="header-buttons">
      <span class="header-btn1" onclick="goToHerePage()">여기갈까?</span>
      <span class="header-btn2">같이갈까?</span>
      <span class="header-btn3" onclick="goToReviewPage()">후기볼까?</span>
    </div>
    <div class="user-controls">
      <a href="#" onclick="goToMyPage()">
        <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동"/>
      </a>
      <img th:src="@{/images/like.png}" alt="찜"/>
    </div>
  </div>
  <div class="separator1"></div>
</header>
<main>
  <div class="image-container">
    <img id="area-image" src="/images/havenotimage.png">
    <div id="area-name" class="text-overlay">지역명</div>
  </div>
  <section id="section1">
    <div class="spot-info">
      <h1 th:text="${spotPage.spotName}">관광지</h1>
      <p th:text="${spotPage.spotAddr}">관광지 주소</p>
    </div>
    <div class="spot-content">
      <div class="spot-details">
        <img class="spot-image" th:src="${!#strings.isEmpty(spotPage.spotImg) ? spotPage.spotImg : '/images/havenotimage.png'}" alt="이미지 준비중">
        <h1>상세정보</h1>
        <p th:text="${spotPage.spotOverview}">관광지 상세 설명...</p>
      </div>
      <div class="reservation">
        <button>예약하기</button>
      </div>
    </div>
  </section>
  <div class="separator2"></div>
  <section id="section2">
    <div class="map_wrap">
      <div id="map"></div>
      <!-- 지도타입 컨트롤 div 입니다 -->
      <div class="custom_typecontrol radius_border">
        <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
        <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
      </div>
      <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
      <div class="custom_zoomcontrol radius_border">
        <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>
        <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
      </div>
    </div>
  </section>
  <section id="section3">
    <div id="recommend">
      <img src="/images/alan.jpg">
      <h1>AI 추천 검색</h1>
    </div>
    <div id="aiResults">
      <div id="loading" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100; display: flex; align-items: center; justify-content: center;">
        <div>Loading...</div>
      </div>
    </div>
  </section>
</main>
<div class="separator2"></div>
<footer>
  <div class="footer">
    <div class="footer-logo">
      <img th:src="@{/images/logo.png}" alt="팀 로고"/>
    </div>
    <div class="footer-group">
      <div class="data">
        <span>데이터 제공 : 한국관광공사 TourAPI</span>
      </div>
      <div class="icon-made">
        <span>아이콘 제작자: Freepik - Flaticon</span>
      </div>
    </div>
    <div class="github-link">
      <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
        <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
      </a>
    </div>
  </div>
</footer>
</body>
</html>