<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기볼까?</title>
    <link rel="stylesheet" th:href="@{/css/reviewList.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

</head>
<body>
<header>
    <div th:replace="~{header.html}"></div>
</header>
<main>
    <div class="regions">
        <div class="regions-button-wrap">
            <span class="region-all-btn" onclick="goToReviewPage()">전체</span>
            <span class="region-btn" data-area-code="1">서울</span>
            <span class="region-btn" data-area-code="31">경기</span>
            <span class="region-btn" data-area-code="2">인천</span>
            <span class="region-btn" data-area-code="32">강원</span>
            <span class="region-btn" data-area-code="33">충북</span>
            <span class="region-btn" data-area-code="34">충남</span>
            <span class="region-btn" data-area-code="35">경북</span>
            <span class="region-btn" data-area-code="36">경남</span>
            <span class="region-btn" data-area-code="37">전북</span>
            <span class="region-btn" data-area-code="38">전남</span>
            <span class="region-btn" data-area-code="39">제주</span>
        </div>
        <div class="region-image">
            <img id="regionImage" th:src="@{/images/seoul.png}" alt="대표이미지"/>
        </div>
    </div>

    <div class="button-wrap">
        <button type="button" id="create-btn"
                th:onclick="|location.href='@{/uploadReview}'|">후기 등록</button>
    </div>

    <div class="tourist-sites">
        <!-- 관광지 리스트가 여기에 표시됩니다. -->
        <div class="tourist-site" th:each="review : ${reviews}">
            <div class="review-img-content">
                <img th:onclick="|location.href='@{/reviews/id/{postId}(postId=${review.postId})}'|" th:src="${review.imgLink}" alt="관광지 이미지">
            </div>
            <div class="review-contents-wrap">
                <div class="review-contents">
                    <p class="review-contents-userName" th:text="${review.user.getUserName()}"></p>
                    <p class="review-contents-spotName" th:text="${review.spotName}"></p>
                </div>
                <div class="review-title">
                    <h3 th:onclick="|location.href='@{/reviews/id/{postId}(postId=${review.postId})}'|" th:text="${review.postTitle}"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination" th:if="${reviews.totalElements > 0}">
        <a th:if="${pageType == 'all' and reviews.hasPrevious}" th:href="@{/reviews(page=${currentPage - 1}, size=${reviews.size})}">이전</a>
        <a th:if="${pageType == 'region' and reviews.hasPrevious}" th:href="@{/reviews/{areaCode}(areaCode=${areaCode},page=${currentPage - 1}, size=${reviews.size})}">이전</a>

        <span th:each="pageNum : ${#numbers.sequence(1, reviews.totalPages)}">
            <a th:if="${pageType == 'all'}" th:href="@{/reviews(page=${pageNum}, size=${reviews.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>
            <a th:if="${pageType == 'region'}" th:href="@{/reviews/{areaCode}(areaCode=${areaCode}, page=${pageNum}, size=${reviews.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>

        </span>

        <a th:if="${pageType == 'all' and reviews.hasNext}" th:href="@{/reviews(page=${currentPage + 1}, size=${reviews.size})}">다음</a>
        <a th:if="${pageType == 'region' and reviews.hasNext}" th:href="@{/reviews/{areaCode}(areaCode=${areaCode},page=${currentPage + 1}, size=${reviews.size})}">다음</a>
    </div>

</main>
<footer>
    <div class="separator-footer"></div>
    <div th:replace="~{footer.html}"></div>
</footer>
</body>
<script src="/js/reviewList.js"></script>
<script src="/js/page.js" defer></script>
</html>

