<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리뷰 상세페이지</title>
  <link rel="stylesheet" th:href="@{/css/reviewdetail.css}">
  <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
  <div th:replace="~{header.html}"></div>
</header>
<main>
<div class="container">
    <article>
      <div class="image">
        <img th:src="@{${img_link}}"/>
      </div>
      <div class="title">
        <h1 class="fw-bolder mb-1" th:text="${review.postTitle}"></h1>
      </div>

      <div class="subtitle">
        <div class="text-muted fst-italic mb-2" th:text="|조회수 : ${review.postView}|"></div>
        <div class="text-muted fst-italic mb-2" th:text="|작성자 : ${review.users.getUserName()}|"></div>
        <div class="text-muted fst-italic mb-2" th:text="|생성 시간 ${#temporals.format(review.created, 'yyyy-MM-dd HH:mm')}|"></div>
      </div>

      <div class="region">
        <h2>여행 지역</h2>
        <div class="text-muted fst-italic mb-2" th:text="|지역 : ${review.areaCode} : 한글로 변환 필요|"></div>
        <div class="text-muted fst-italic mb-2" th:text="|주소 : ${review.address}|"></div>
      </div>
      <div class="content">
        <h2>리뷰 작성 내용</h2>
        <p class="fs-5 mb-4" th:text="${review.postContent}"></p>
      </div>

      <input type="hidden" id="review-id" th:value="${review.postId}">

      <div class="comment">
        <input type="text" class="comment-input" id="commentInput" placeholder="댓글을 입력해주세요">
        <button class="comment-btn">게시</button>
      </div>


      <div class="delete">
        <!-- 아직 로직 연결 X -->
        <button type="button" id="modify-btn"
                th:onclick="|location.href='@{/new-review?id={reviewId}(reviewId=${review.postId})}'|"
                class="btn btn-primary btn-sm">수정</button>
        <button type="button" id="delete-post-btn"
                class="btn btn-secondary btn-sm">삭제</button>
      </div>
    </article>
</div>
</main>
<div class="separator"></div>
<footer>
  <div th:replace="~{footer.html}"></div>
</footer>
</body>
<script src="/js/uploadReview.js"></script>