<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰리스트</title>
    <link rel="stylesheet" th:href="@{/css/review.css}">

</head>
<body>
<header>
    <div class ="header">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

        </div>
        <div class="header-buttons">
            <span class="header-btn1" onclick="goToHerePage()" style="font-weight: normal">여기갈까?</span>
            <span class="header-btn2">같이갈까?</span>
            <span class="header-btn3" onclick="goToReviewPage()">갔다왔어?</span>
        </div>
        <div class="user-controls">
            <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동"/>
            <img th:src="@{/images/like.png}" alt="찜"/>
        </div>
    </div>
    <div class="separator"></div>
</header>
<main>
    <div class="regions">
        <span class="region-all-btn" onclick="goToAllPage()">전체</span>
        <span class="region-btn" data-area-code="1">서울</span>
        <span class="region-btn" data-area-code="31">경기</span>
        <span class="region-btn" data-area-code="2">인천</span>
        <span class="region-btn" data-area-code="32">강원</span>
        <span class="region-btn" data-area-code="33">충북</span>
        <span class="region-btn" data-area-code="34">충남</span>
        <span class="region-btn" data-area-code="35">경북</span>
        <span class="region-btn" data-area-code="36">경남</span>
        <span class="region-btn" data-area-code="37">전북</span>
        <span class="region-btn" data-area-code="38">전남</span>
        <span class="region-btn" data-area-code="39">제주</span>
    </div>
    <div class="region-image">
        <img id="regionImage" th:src="@{/images/seoul.png}" alt="대표이미지"/>
    </div>

    <div>
        <button type="button" id="create-btn"
                     th:onclick="|location.href='@{/uploadReview}'|">글 등록</button>
    </div>

    <div class="tourist-sites">
        <!-- 관광지 리스트가 여기에 표시됩니다. -->
        <div class="tourist-site" th:each="review : ${reviews}">
            <img th:onclick="|location.href='@{/reviews/id/{postId}(postId=${review.postId})}'|" th:src="${review.imgLink}" alt="관광지 이미지">
            <h3 th:onclick="|location.href='@{/reviews/id/{postId}(postId=${review.postId})}'|" th:text="${review.postTitle}"></h3>
            <p th:text="${review.spotName}"></p>
            <p th:text="${review.user.getUserName()}"></p>
        </div>
    </div>

    <div class="pagination" th:if="${reviews.totalElements > 0}">
        <a th:if="${pageType == 'all' and reviews.hasPrevious}" th:href="@{/api/reviews(page=${currentPage - 1}, size=${reviews.size})}">이전</a>
        <a th:if="${pageType == 'region' and reviews.hasPrevious}" th:href="@{/api/reviews/code/{areaCode}(areaCode=${areaCode},page=${currentPage - 1}, size=${reviews.size})}">이전</a>

        <span th:each="pageNum : ${#numbers.sequence(1, reviews.totalPages)}">
            <a th:if="${pageType == 'all'}" th:href="@{/api/reviews(page=${pageNum}, size=${reviews.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>
            <a th:if="${pageType == 'region'}" th:href="@{/api/reviews/code/{areaCode}(areaCode=${areaCode}, page=${pageNum}, size=${reviews.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>

        </span>

        <a th:if="${pageType == 'all' and reviews.hasNext}" th:href="@{/api/reviews(page=${currentPage + 1}, size=${reviews.size})}">다음</a>
        <a th:if="${pageType == 'region' and reviews.hasNext}" th:href="@{/api/reviews/code/{areaCode}(areaCode=${areaCode},page=${currentPage + 1}, size=${reviews.size})}">다음</a>
    </div>

</main>
<div class="separator"></div>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고"/>
        </div>
        <div class="footer-group">
            <div class="data">
                <span>데이터 제공 : 한국관광공사 TourAPI</span>
            </div>
            <div class="icon-made">
                <span>아이콘 제작자: Freepik - Flaticon</span>
            </div>
        </div>
        <div class="github-link">
            <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
                <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
        </div>
    </div>
</footer>
</body>
<script src="/js/review.js"></script>

</html>

