<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 작성</title>
    <link rel="stylesheet" th:href="@{/css/uploadReview.css}">

</head>
<body>
<header>
    <div class ="header">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고" onclick="goToMainPage()"/>

        </div>
        <div class="header-buttons">
            <span class="header-btn1" onclick="goToHerePage()" style="font-weight: normal">여기갈까?</span>
            <span class="header-btn2">같이갈까?</span>
            <span class="header-btn3" onclick="goToReviewPage()">갔다왔어?</span>
        </div>
        <div class="user-controls">
            <img th:src="@{/images/mypage.png}" alt="마이페이지로 이동"/>
            <img th:src="@{/images/like.png}" alt="찜"/>
        </div>
    </div>
    <div class="separator"></div>
</header>
<main>
    <div class="region-image">
        <img id="regionImage" th:src="@{/images/companion.png}" alt="대표이미지"/>
    </div>

    <form id="save-form" name="saveForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" name="title" size="50" id="title">
            <br>
            <label for="content">내용</label>
            <input type="text" name="content" id="content"/>
            <br>
            <label for="areaCode">지역 코드</label>
            <input type="text" name="areaCode" id="areaCode"/>
            <br>
            <label for="spotName">관광지명</label>
            <input type="text" name="spotName" id="spotName"/>
            <br>
            <label for="address">주소</label>
            <input type="text" name="address" id="address"/>
            <br>
            <label for="fileInput">파일 업로드</label>
            <input type="file" name="fileInput" id="fileInput">
            <br>
        </div>
        <button id="create-btn" type="button">저장</button>
    </form>
</main>

<div class="separator"></div>
<footer>
    <div class="footer">
        <div class="footer-logo">
            <img th:src="@{/images/logo.png}" alt="팀 로고"/>
        </div>
        <div class="footer-group">
            <div class="data">
                <span>데이터 제공 : 한국관광공사 TourAPI</span>
            </div>
            <div class="icon-made">
                <span>아이콘 제작자: Freepik - Flaticon</span>
            </div>
        </div>
        <div class="github-link">
            <a href="https://github.com/oreumi4-final-project-team3/neonaduri">
                <img th:src="@{/images/github.png}" alt="깃허브로 이동"/>
            </a>
        </div>
    </div>
</footer>
</body>
<script src="/js/uploadReview.js"></script>
</html>