<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="save-form" name="saveForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" name="title" size="50" id="title">
        <br>
        <label for="content">내용</label>
        <input type="text" name="content" id="content"/>
        <br>
        <label for="fileInput">파일 업로드</label>
        <input type="file" name="fileInput" id="fileInput">
        <br>
    </div>
    <button id="create-btn" type="button">저장</button>
</form>

</body>
<script src="/js/posts.js"></script>
</html>