<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 작성</title>
    <link rel="stylesheet" th:href="@{/css/uploadReview.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div th:replace="~{header.html}"></div>
</header>
<main>
    <form id="save-form" name="saveForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="areaCode">🌏&nbsp;어느 ‘지역’으로 여행을 다녀오셨나요?</label>
            <select name="areaCode" id="areaCode">
                <option selected>다녀오신 지역을 선택해 주세요.</option>
                <option value="1">서울</option>
                <option value="31">경기</option>
                <option value="2">인천</option>
                <option value="32">강원</option>
                <option value="33">충북</option>
                <option value="34">충남</option>
                <option value="35">경북</option>
                <option value="36">경남</option>
                <option value="37">전북</option>
                <option value="38">전남</option>
                <option value="39">제주</option>
            </select>

            <label for="spotName">🎡&nbsp;어느 ‘관광지’로 여행을 다녀오셨나요?</label>
            <input type="text" name="spotName" id="spotName" placeholder="다녀오신 관광지를 입력해 주세요."/>

            <label for="address">🔍&nbsp;자세한 주소를 적어주세요!</label>
            <input type="text" name="address" id="address" placeholder="예) 서울특별시 종로구 세종대로 172"/>

            <label for="title">📌&nbsp;다녀오신 여행을 소개해주세요!</label>
            <input type="text" name="title" size="50" id="title" placeholder="제목을 입력해 주세요.">
            <textarea type="text" name="content" id="content" placeholder="내용을 입력해 주세요."/></textarea>

            <label class="fileInput-title">📷&nbsp;사진을 등록해주세요!</label>
            <div class="filebox">
                <input class="upload-name" placeholder="사진 미 첨부 시, 기본 사진으로 게시됩니다." readonly>
                <label for="fileInput">파일찾기</label>
                <input type="file" name="fileInput" id="fileInput">
            </div>

            <button id="create-btn" type="button">저장</button>
        </div>
    </form>
</main>

<div class="separator"></div>
<footer>
    <div th:replace="~{footer.html}"></div>
</footer>
</body>
<script src="/js/posts.js"></script>
<script src="/js/uploadReview.js"></script>
<script src="/js/page.js"></script>
<script src="/js/uploadCompanion.js"></script>
</html>