<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관심목록</title>
    <link rel="stylesheet" th:href="@{/css/wishlist.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div th:replace="~{header.html}"></div>
</header>
<main>
    <!--최근 인기 동행 게시글-->
    <div class="hotCompanions">

<!--        <img  th:src="@{/images/companionsMark.png}"/>-->
        <div>
            <span id="title"> 🤍 관심있는 매칭</span>
        </div>
    </div>

    <div class="tourist-sites12">
        <!-- 관광지 리스트가 여기에 표시됩니다. -->
        <div class="tourist-site1" th:each="companion : ${companions}">
            <div class="top-contents">
                <div class="top-writer-profileimg"></div>
                <div class="top-writer-info">
                    <p class="top-writer-info-username" th:text="${companion.userName}"></p>
                    <div class="top-writer-info-datails">
                        <p class="userBirth" th:text="${#strings.length(companion.userBirth) > 10 ? #strings.substring(companion.userBirth, 0, 10) : companion.userBirth}"></p>
                        <p class="userAge"></p>
                        <p th:text="${companion.userGender}"></p>
                    </div>
                </div>
                <hr>
                <div class="top-companion-schedule">
                    <p>🗓️ 여행기간</p>
                    <div class="top-companion-schedule-details">
                        <p th:text="${#temporals.format(companion.comStart, 'MM.dd')}"></p>
                        <p> ~ </p>
                        <p th:text="${#temporals.format(companion.comEnd, 'MM.dd')}"></p>
                    </div>
                </div>
            </div>


            <div class="middle-contents">
                <div class="companion-image-placeholder">
                    <img id="sample-image" th:src="@{/images/companionTestImg.png}" alt="샘플이미지">
                </div>
            </div>


            <div class="bottom-contents">
                <p class="bottom-contents-title" th:text="${companion.postTitle}"></p>
                <p class="bottom-contents-content" th:text="${companion.postContent}"></p>
            </div>
        </div>
    </div>

    <div class="pagination" th:if="${companions.totalElements > 0}">
        <a th:if="${companions.hasPrevious}" th:href="@{/api/wishlist/{admin_id}(admin_id=${admin_id},page=${currentPage - 1}, size=${companions.size})}">이전</a>
        <span th:each="pageNum : ${#numbers.sequence(1, companions.totalPages)}">
            <a th:href="@{/api/wishlist/{admin_id}(admin_id=${admin_id},page=${pageNum}, size=${companions.size})}" th:text="${pageNum}" th:classappend="${pageNum==currentPage} ? 'active'"></a>
        </span>
        <a th:if="${companions.hasNext}" th:href="@{/api/wishlist/{admin_id}(admin_id=${admin_id},page=${currentPage + 1}, size=${companions.size})}">다음</a>
    </div>
</main>
<div class="separator"></div>
<footer>
    <div th:replace="~{footer.html}"></div>
</footer>
</body>
<script src="/js/wishlist.js" defer></script>
<script src="/js/page.js" defer></script>
<script>
    function getSpotIdAndNavigate(element) {
        const spotId = element.parentNode.querySelector('.spotId').value;
        console.log("Spot ID is: ", spotId);
        window.location.replace("/api/spot/" + spotId);
    }
</script>


</html>

